<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro - FinAPP</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="cadastro.css">
</head>
<body>
  <div class="logo">
    <a href="index.html"><header><img src="logo.png" alt=""></header></a>
  </div> 

  <div class="container">
    <div class="parteEsquerda">
      <h1>FAÇA PARTE DO FINAPP!</h1>
      <p>Preencha seus dados iniciais para prosseguir o cadastro</p>
    </div>

    <div class="parteDireita">
      <div class="cadastro-container">
        <form action="#" method="post">

          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>

          <label for="email">E-mail</label>
          <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>

          <label for="senha">Senha</label>
          <input type="password" id="senha" name="senha" placeholder="Crie uma senha" required>

          <a href="cadastro.html"><button type="button">Continuar Cadastro</button></a>
          <a href="index.html">Já possuo conta</a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
