<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FinAPP</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
     <div class="logo">
  <a href="index.html"><header><img src="logo.png" alt=""></header></a></div> 
  <div class="container">
    <!-- Lado Esquerdo -->
    <div class="parteEsquerda">
      <h1>
        ONDE SUA VIDA FINACEIRA COMEÇA!<br>
        
      </h1>
      <a href="cadastro.html"><button class="botaoCadastro">CADASTRE-SE JÁ!</button></a>
    </div>

    <!-- Lado Direito -->
    <div class="parteDireita">
      <div class="login-container">
        <h2>Login</h2>
        <p>Preencha os campos abaixo com os seus dados de acesso.</p>
        <form action="#" method="post">
        <b><label for="email"> E-mail</label></b>
        <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
        <b><label for="senha">Senha</label></b>
        <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
        <a href="dashboard.html"><b><button class="login-btn">Acessar</button></b></a>
        </form>
        <div class="recuperarsenha-link" >
        <b><button><a href="recuperacaoSenha.html">Esqueci a senha</a></button></b>     
        </div>
      </div>
    </div>
  </div>
  
  

</body>
</html>