<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FinAPP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <div class="logo">
  <a href="{{ url_for('index') }}"><header><img src="{{ url_for('static', filename='css/logo.png') }}" alt="Logo">

</header></a>
  </div>
  <main>
    <h1>Onde sua liberdade financeira começa!</h1>
    <div class="index-container">
      <a href="{{ url_for('cadastro') }}"><button  class="index-cadastro">Cadastre-se</button></a>
      <a href="{{ url_for('login') }}"><button  class="index-cadastro">Fazer Login</button></a>
    </div>
    <div class = "rodapé">
        <footer>
            <p>©2025 - FinAPP. Todos os direitos reservados.</p>
        </footer>

    </div>
  </main>
</body>
</html>
